
/* Data */
.page_contacto .data .content_data h2,
.page_contacto .data .content_data p {
	margin-bottom: 0;
}

.page_contacto .data .content_data h2 {
	font-size: 1.75rem;
	margin-bottom: 5px;
}

.page_contacto .data .content_data {
	border-bottom: solid 1px black;
	padding-top: 15px;
	padding-bottom: 15px;
}

.page_contacto .data .bandera {
	max-width: 30px;
	height: 100%;
}

.page_contacto .data .content_data_whit_bandera {
	display: flex;
	align-items: center;
}

.page_contacto .data .content_data_whit_bandera p {
	border-left: solid 1px rgb(210, 210, 210);
	padding-left: 5px;
}

.page_contacto .data .content_data_whit_bandera .content_banderas {
	height: 100%;
	padding-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page_contacto .data .content_data:last-child {
	border-bottom: none;
}

.page_contacto .data .content_data:last-child p {
	margin-bottom: 0;
}
/* Data end */

/* Formulario */
.page_contacto .section_form {
	background: black;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.page_contacto .section_form h2 {
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

.page_contacto .section_form h2 span {
	background: white;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
}
/* Formulario end */

/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

	/* Información */
	.page_contacto .informacion h1 {
		font-size: 2.5rem;
	}
	/* Información end */

	/* Data */
	.page_contacto .data {
		margin-bottom: 60px;
	}

	.page_contacto .data .content_data h2 {
		font-size: 2rem;
		margin-bottom: 15px;
	}

	.page_contacto .data .content_data p {
		font-size: 1.25rem;
	}

	.page_contacto .informacion {
		margin-bottom: 60px;
	}
	/* Data end */

	/* Formulario */
	.page_contacto .section_form .content_title {
		margin-bottom: 50px;
	}

	.page_contacto .section_form h2 {
		margin-top: 0;
		font-size: 1.75rem;
	}
	/* Formulario end */

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

	/* Información */
	.page_contacto .informacion h1 {
		font-size: 3rem;
	}
	/* Información end */

	/* Data */

	.page_contacto .data .content_data h2 {
		font-size: 2.5rem;
	}
	/* Data end */

	/* Formulario */
	.page_contacto .section_form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	.page_contacto .section_form h2 {
		font-size: 2rem;
	}
	/* Formulario end */

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}





