/* Carrusel Home */
.carrusel_home {
  margin-bottom: 80px;
  margin-top: 58px;
}

.carrusel_home .carousel-inner {
  overflow: visible;
}

.carrusel_home .carousel-indicators {
  bottom: -80px;
}

.carrusel_home .carousel-indicators [data-bs-target] {
  background-color: black;
}

.carrusel_home .direccion {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.carrusel_home .direccion:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.carrusel_home h1,
.carrusel_home h2 {
  line-height: 0.8;
  margin-bottom: 0;
  color: black;
}

.carrusel_home .calle {
  font-size: 1.5rem;
  color: #979696;
  letter-spacing: 0.035em;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.carrusel_home .numero {
  font-size: 7rem;
  display: inline-block;
}
/* Carrusel Home end */

/* Proyectos Home */
.proyectos_home {
  margin-top: 0 !important;
}
/* Proyectos Home end */

/* Ubicaciones */
.home .ubicaciones {
  margin-bottom: 60px;
}

.home .ubicaciones .content_mapa {
  margin-bottom: 15px;
}

.home .ubicaciones .content_frase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .ubicaciones h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 0;
  text-align: center;
}

.home .ubicaciones h2 span {
  display: inline-block;
  background: black;
  padding: 9px 9px 3px 9px;
  color: white;
  line-height: 1;
}
/* Ubicaciones end */

/* New Video */
.new_video {
  margin-bottom: 60px;
}

.hytPlayerWrap {
  display: inline-block;
  position: relative;
}
.hytPlayerWrap.ended::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px 64px;
  background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);
}
.hytPlayerWrap.paused::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}
/* New Video end */

/* MEDIA QUERIES */
@media (min-width: 576px) {
  /* Carrusel Home */
  .carrusel_home {
    margin-bottom: 120px;
    margin-top: 100px;
  }

  .carrusel_home .direccion {
    right: 2rem;
  }

  .carrusel_home .muniz .calle {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  /* Carrusel Home end */

  /* Ubicaciones */
  .home .ubicaciones .content_mapa {
    margin-bottom: 60px;
  }

  .home .ubicaciones h2 {
    font-size: 3.5rem;
  }
  /* Ubicaciones end */
}

@media (min-width: 768px) {
  /* Carrusel Home */
  .carrusel_home .direccion {
    right: 5rem;
  }

  .carrusel_home .calle {
    font-size: 1.75rem;
  }

  .carrusel_home .muniz .calle {
    font-size: 3.5rem;
  }

  .carrusel_home .numero {
    font-size: 8.5rem;
  }
  /* Carrusel Home end */

  /* Ubicaciones */
  .home .ubicaciones h2 {
    font-size: 4rem;
  }

  .home .ubicaciones .content_mapa {
    margin-bottom: 0;
    padding: 0;
  }
  /* Ubicaciones end */
}

@media (min-width: 992px) {
  /* Carrusel Home */
  .carrusel_home .carousel-indicators {
    bottom: 0;
  }

  .carrusel_home .carousel-indicators [data-bs-target] {
    background-color: white;
  }

  .carrusel_home .direccion {
    right: 5rem;
  }

  .carrusel_home .calle {
    font-size: 1.75rem;
  }

  .carrusel_home .muniz .calle {
    font-size: 3.5rem;
    margin-top: 1rem;
  }

  .carrusel_home .numero {
    font-size: 8.5rem;
  }
  /* Carrusel Home end */

  /* Ubicaciones */
  .home .ubicaciones h2 {
    font-size: 4.5rem;
  }
  /* Ubicaciones end */
}

@media (min-width: 1200px) {
  /* Carrusel Home */
  .carrusel_home .direccion {
    right: 8rem;
  }
  .carrusel_home .donato .calle {
    font-size: 2.5rem;
  }

  .carrusel_home .muniz .calle {
    font-size: 5rem;
  }

  .carrusel_home .casernes .calle {
    font-size: 1.75rem;
  }

  .carrusel_home .donato .numero {
    font-size: 10.5rem;
  }

  .carrusel_home .muniz .numero {
    font-size: 7.5rem;
  }

  .carrusel_home .casernes .numero {
    font-size: 10.5rem;
  }
  /* Carrusel Home end */

  /* Ubicaciones */
  .home .ubicaciones h2 {
    font-size: 5rem;
  }
  /* Ubicaciones end */
}

@media (min-width: 1600px) {
  /* Carrusel Home */
  .carrusel_home .direccion {
    right: 10rem;
    padding: 1.5rem 1rem;
  }
  .carrusel_home .donato .calle {
    font-size: 3rem;
  }

  .carrusel_home .donato .numero {
    font-size: 13rem;
  }

  .carrusel_home .muniz .calle {
    font-size: 6rem;
  }

  .carrusel_home .muniz .numero {
    font-size: 9rem;
  }

  .carrusel_home .casernes .calle {
    font-size: 2rem;
  }

  .carrusel_home .casernes .numero {
    font-size: 14rem;
  }
  /* Carrusel Home end */
}
